.outer-bg {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.graph {
    width: 50%;
}

.distribution-header {
    margin-left: 30px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.distribution-title {
    font-size: 20px;
    font-weight: bold;
}